<%= react_component("PhoneNumberInput", {prerender: true}) %>
  <!-- https://d1qzwxap7t1x49.cloudfront.net/assets/icons/mobile-icon-feeeb599743f4008eb9c63f7b28e9d4663fa3774519ac7708b99c8ded762321c.svg -->