@import url("https://d1qzwxap7t1x49.cloudfront.net/assets/checkout-d4cb02e53a15a8bc7448158f02b95ce12d27124968c9c9c454516c2f96786882.css");
.container {
  padding: 16px;
  margin: auto;
  width: 500px;
}

.checkout-input-wrapper {
  width: 400px;
}

.checkout-input-wrapper--mobile-number::before {
  content: '';
  display: block;
  position: absolute;
  background: url(https://d1qzwxap7t1x49.cloudfront.net/assets/icons/mobile-icon-feeeb599743f4008eb9c63f7b28e9d4663fa3774519ac7708b99c8ded762321c.svg
) no-repeat center;
  height: 2.5rem;
  width: 4rem;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 2rem;
}

input {
  text-indent: 20px;
}

#mobile-number-placeholder {
  padding-left: 4rem;
  padding-bottom: 1.6rem;
}

.checkout-input:focus~.checkout-placeholder {
  padding-bottom: 1rem !important;
}

.courier-info {
  font-family: "gt-pressura-regular", helvetica, arial, sans-serif;
  color: #9c9896;
  font-size: 1.6rem;
  text-align: left;
  padding-left: 2rem;
  background-size: 1.5rem !important;
  background: url(https://d1qzwxap7t1x49.cloudfront.net/assets/icons/info/blue-info-7571a982ac820baca98128c5e1b85748e273e4435099a3d41308b9788d5b74bc.svg) no-repeat left 0.5rem;
}